*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("image.webp") no-repeat center center fixed;
        background-size: cover;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    line-height: 300%;
}

.banner{
    padding-top: 5%;
    font-size: 4rem;;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 3%; */
}

.strike{
    text-decoration: line-through;
}

.strike-color {
    background: rgba(255, 255, 255, 0.2) !important;
}















.add-todo { 
    padding-top: 10%;
    position:relative; 
    font-size: 0.7rem;
      margin: 0 auto;
    padding-bottom: 10%;

    
}

input {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:50%;
    border:none;
    border-bottom:1px solid #757575;
    margin: 0 auto;
    opacity: 0.9;

}
input:focus { outline:none; }
  
label {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
    margin: 0 auto;
}

input:focus ~ label, input:valid ~ label{
    top:-20px;
    font-size:14px;
    color:#5264AE;
    margin: 0 auto;
}
  
.bar{ position:relative; display:block; width:50%; margin: 0 auto;}
.bar:before, .bar:after{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#5264AE; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
    margin: 0 auto;
}
.bar:before{
    left:50%;
}
.bar:after {
    right:50%; 
}
  
  /* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%; margin: 0 auto
}
  

  /* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}













.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.todo-list{
    min-width: 52%;
    list-style: none;
}

.todo{   
    margin: 0.5rem;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    display: flex;
    padding-left: 0.5rem;
    position: relative;
    line-height: normal !important;
}

.todo .text {
    margin-right: 5.5rem;
}

.todo i {
    margin: 7px;
    position: absolute;
}

.todo i.complete-icon {
    right: 2.5rem;
}

.todo i.complete-icon:hover {
    color: blue;
}

.todo i.delete-icon {
    right: 0.5rem;
}

.todo i.delete-icon:hover {
    color: red;
}
